
    .Karte {
        position: absolute;
        top: 20px;
        ;
    }
    
    .Muschel1 {
        background-image: url(https://raw.githubusercontent.com/steffi1404/EIA1-SoSe20/master/Steckbrief/Bilder/Bilder%20Gru%C3%9Fkarten/muschel.png);
        position: relative;
        height: 62px;
        width: 70px;
        left: -50px;
        top: 200px;
        
    }

    .Muschel1:hover {

        background-image: url(https://github.com/steffi1404/EIA1-SoSe20/blob/master/Steckbrief/Bilder/Bilder%20Gru%C3%9Fkarten/muschel_perle1.png);
    }


    .Muschel2 {
        background-image: url(https://raw.githubusercontent.com/steffi1404/EIA1-SoSe20/master/Steckbrief/Bilder/Bilder%20Gru%C3%9Fkarten/muschel.png);
        position: relative;
        height: 62px;
        width: 70px;
        left: 0px;
        top: 200px;
          
    }

    .Muschel2:hover {

        background-image: url(https://github.com/gabriel-rausch/EIA1-SoSe20/blob/master/L04/task_material/Station_2_Hover/images/muschel_perle.png);
    }

    .Muschel3 {
        background-image: url(https://raw.githubusercontent.com/steffi1404/EIA1-SoSe20/master/Steckbrief/Bilder/Bilder%20Gru%C3%9Fkarten/muschel.png);
        position: relative;
        height: 62px;
        width: 70px;
        left: 50px;
        top: 200px;
        
    }

    .Muschel3:hover {

        background-image: url(https://github.com/gabriel-rausch/EIA1-SoSe20/blob/master/L04/task_material/Station_2_Hover/images/muschel_perle.png);
    } 
    

    .div1 {
        position: relative;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-top: 150px;
        display: flex;
       
    }
    
    .Überschrift {
        position: absolute;
        font-size: 25px;
        display: inline-block;
        top: 50px;
        font-style: sans-serif;
        color: whitesmoke;
    }
    