    .Karte {
        position: absolute;
        top: 20px;
    }
    
    
    .text {
        display: block;
        position: relative;
        color: whitesmoke;
        left: -25px;
        top: 120px;
        font-size: 19px;
    }
    
    .div1 {
        position: relative;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-top: 150px;
        display: flex;
       
    }
    
    .Überschrift {
        position: absolute;
        font-size: 30px;
        display: inline-block;
        top: 45px;
        color: whitesmoke;
        left: 540px;}