    .body{

    font-family: ;
    }
    
    .Karte {
        position: fixed;
        top:150px;
        left: 450px;
    }
    
    
    .text {
        display: block;
        position: fixed;
        color: whitesmoke;
        left: 530px;
        top: 260px;
        font-size: 19px;
    }
    
    .div1 {
        position: fixed;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-top: 200px;
        display: flex;
       
    }
    
    .Überschrift {
        position: fixed;
        font-size: 30px;
        display: inline-block;
        top: 200px;
        color: whitesmoke;
        left: 540px;}

    .body{
        font-family: 'jelly';
        src: url("file:///C:/Users/stefa/AppData/Local/Temp/Jellyka%20Delicious%20Cake.ttf");
    }
    @font-face {
        src: url(https://steffi1404.github.io/EIA1-SoSe20/Steckbrief/Aufgabe4/Font/JellykaDeliciousCake.woff2);
        font-family: jelly; 
    }